extends layouts/default

block content
  - var action = base + '/' + singular
  - action += doc.isNew ? '' : '/' + doc._id
  - var id = doc.isNew ? '' : doc._id

  form(method="post", action=action, enctype="multipart/form-data")
    input(type="hidden", name="_csrf", value="#{csrf_token}")
    input(type="hidden", name="_doc_id", value=id)

    table
      tbody
        each f in edit
          tr
            - var type = field[f].widget || 'text'
            - var header = field[f].header
            td
              label(for=f)= header
            td
              input(id=f, type=type, name=singular+'['+f+']', value=doc[f], placeholder='Enter '+header)
      

    button(type='submit') Save changes
    &nbsp;
    a.btn(href='#{base}/#{plural}', title="cancel") Cancel
