extends layouts/default

block content
  #list
    h2= title
    #new
      a.btn.btn-default(href="#{base}/#{path}/new", role="button") New &raquo;

    table
      thead
        tr
          each f in list
            th= fields[f].header || capitalizeFirstLetter(f)
          th
      tbody
        each d in data
          tr
            each f in list
              td= d[f]
            td
              a(href="#{base}/#{path}/#{d._id}/edit") edit

